.wrapper{
	display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

body{
	background: #f4f4f4 !important;
}

.provider{
	width: 300px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-height: 300px;
    padding: 90px 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    text-align: center;

}

.imgMap{
	text-align: center;
}
.weatherWrapper{
	margin:20px auto;
	align-items: center;
	width: 900px;
	height: 600px;
	position: fixed;
	background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://lh3.googleusercontent.com/-3a9tfucljDw/Vz9NILoSneI/AAAAAAAAFtM/Cs-_mjCo18s_J1jALti-cam5y9-Z67BxACLIB/s1600-w900/') no-repeat center center;
}

.imgweather{
	padding: 10px;
  margin: 50px 70px;
}
h2.city{
	font-size: 50px;
	font-family: sans-serif;
	font-weight: normal;
	color:#fff;
}

span.state {
    display: flex;
    font-size: 70px;
    color: #fff;
    padding: 20px;
		text-shadow:0 0 10px rgba(0, 0, 0, 0.33);
}

span.header{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 300px;
  position: relative;
  top: -140px;
  left: 90px;
}

span.weatherText {
    display: flex;
    font-size: 40px;
    position: relative;
    bottom: 270px;
    color: aliceblue;
    padding-left: 20px;
    font-weight: 100;
}
button.rs-play {
    display: none;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
}

.overlay{
	padding-top: 0px;
  background-color: rgba(0, 0, 0, 0.35);
	z-index: 1300;
	width: 900px;
	height: 200px;
	position: fixed;

}
.img-style{
   padding-top: 20px;
}

.card-style{
	text-align: left;
}

.header{
	flex:2;
	flex-direction: row;
	align-items: center;
	text-align: center;
	margin-top:30px;
}

.section-map{
	margin:50px auto;;
	height: 500px;
	flex-direction: column;
	align-items: center;
}
.map-widget{
  align-items: center;
	justify-content: center;

}

.provider li{
	list-style: none;
	font-size: 100px;
}
.provider:hover{
box-shadow: 2px 4px 2px rgba(0,0,0,0.09);
}

.fa-newspaper-o{
	color:#ed5635;
}
.fa-bolt{
	color:#40A2F0;
}
.fa-car{
	color:#b596CD;
}
.providerName{
	font-family: sans-serif;

}
a:hover{
	text-decoration: none !important;
}
